$icomoon-font-family: 'wf-icons' !default;
$icomoon-font-path: '.' !default;

$wf-icon-card-view: '\e93e';
$wf-icon-transactions: '\e93f';
$wf-icon-payments: '\e940';

$wf-icon-settings: '\e901';
$wf-icon-dashboard: '\e902';
$wf-icon-assignment: '\e903';
$wf-icon-apps: '\e904';
$wf-icon-bell: '\e905';
$wf-icon-arrow-down: '\e906';
$wf-icon-arrow-up: '\e907';
$wf-icon-arrow-up-small: '\e908';
$wf-icon-arrow-down-small: '\e909';
$wf-icon-arrow-left: '\e90a';
$wf-icon-arrow-right: '\e90b';
$wf-icon-arrow-left-small: '\e90c';
$wf-icon-arrow-right-small: '\e90d';
$wf-icon-arrow-start: '\e900';
$wf-icon-arrow-end: '\e90e';
$wf-icon-bin: '\e90f';
$wf-icon-book: '\e910';
$wf-icon-calendar-empty: '\e911';
$wf-icon-calendar: '\e912';
$wf-icon-check-circle: '\e913';
$wf-icon-check: '\e914';
$wf-icon-close: '\e915';
$wf-icon-container: '\e916';
$wf-icon-criteria: '\e917';
$wf-icon-desktop: '\e918';
$wf-icon-laptop: '\e919';
$wf-icon-download: '\e91a';
$wf-icon-export: '\e91b';
$wf-icon-import: '\e91c';
$wf-icon-edit: '\e91d';
$wf-icon-filter: '\e91e';
$wf-icon-inspection: '\e91f';
$wf-icon-link: '\e920';
$wf-icon-list: '\e921';
$wf-icon-risk-profile: '\e922';
$wf-icon-arrow-down-long: '\e923';
$wf-icon-arrow-up-long: '\e924';
$wf-icon-mobile: '\e925';
$wf-icon-dots-horizontal: '\e926';
$wf-icon-dots-vertical: '\e927';
$wf-icon-multi: '\e928';
$wf-icon-offline: '\e929';
$wf-icon-online: '\e92a';
$wf-icon-package: '\e92b';
$wf-icon-plus: '\e92c';
$wf-icon-postal: '\e92d';
$wf-icon-upload: '\e92e';
$wf-icon-rail: '\e92f';
$wf-icon-unknown-transport: '\e930';
$wf-icon-road: '\e931';
$wf-icon-sea: '\e932';
$wf-icon-other-transport: '\e933';
$wf-icon-internal-navigation: '\e934';
$wf-icon-search: '\e935';
$wf-icon-delivery: '\e936';
$wf-icon-air: '\e937';
$wf-icon-shield-check: '\e938';
$wf-icon-shield: '\e939';
$wf-icon-tablet: '\e93a';
$wf-icon-sync: '\e93b';
$wf-icon-refresh: '\e93c';
$wf-icon-unsync: '\e93d';
